.sec_prod::-webkit-scrollbar {
    width: 8px;
    background-color: transparent; /* Set the scrollbar track color to transparent */
}

.sec_prod::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the scrollbar thumb color to transparent */
}
header {
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.vl {
    border-left: 1px solid black;
    height: 140px;
    position: absolute;
    right: 329px;
}
.sec_prod {
    overflow: scroll;
    background-color: #fde6ae;
    height: calc(100vh - 90px);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.MMS {
    position: initial;
    border: 1.5px dashed black;
    width: 80%;
    display: flex;
    justify-content: center;
    height: 140PX;
    border-radius: 30px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}
.CCS {
    position: initial;
    border: 1.5px dashed black;
    width: 80%;
    display: flex;
    justify-content: center;
    height: 140PX;
    border-radius: 30px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}
.PLS {
    position: initial;
    border: 1.5px dashed black;
    width: 80%;
    display: flex;
    justify-content: center;
    height: 140PX;
    border-radius: 30px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}
.img_MMS {
    width: 205px;
    left: 127px;
    position: absolute;
    border-top-left-radius: 30px;
    height: inherit;
    border-bottom-left-radius: 30px;
}
.CS {
    position: initial;
    border: 1.5px dashed black;
    width: 80%;
    display: flex;
    justify-content: center;
    height: 140PX;
    border-radius: 30px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}
.EGS {
    position: initial;
    border: 1.5px dashed black;
    width: 80%;
    display: flex;
    justify-content: center;
    height: 140PX;
    border-radius: 30px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}
.EDGS {
    position: initial;
    border: 1.5px dashed black;
    width: 80%;
    display: flex;
    justify-content: center;
    height: 140PX;
    border-radius: 30px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}
.button_on {
    background-color: black;
    padding: 17px 40px;
    border: none;
    border-radius: 13px;
    color: #ffffff;
    font-size: 20px;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,0.24), 0 2px 50px 0 rgba(0,0,0,0.19);
    position: absolute;
    right: 137px;
    margin-top: 55px;
}
.button_on:hover {
    cursor: pointer;
}